---
import { FOLDER } from "../CONSTANTS"
import Layout from "@/layouts/Layout.astro"
import { CldUploadWidget } from "astro-cloudinary"
import StoriesList from "@/components/StoriesList.astro"
import { getBestRatedStories, getLatestStories } from "@/db"

const [bestRatedStories, lastStories] = await Promise.all([
	getBestRatedStories(),
	getLatestStories(),
])
---

<Layout title="Your Halloween Tale">
	<h2 class="text-xl my-4">Just upload a picture. We do all the rest!</h2>

	<p>
		Create a halloween tale based in an image. Just upload an interesting
		picture and the AI will make-up a tale for reading to your children or
		olders. If you dare, of course! We will also transform you picture in order
		to match with the story. Wait for it and feel the fear!
	</p>

	<CldUploadWidget
		uploadPreset="unsigned-image"
		id="upload-widget"
		options={{
			folder: FOLDER,
			sources: ["local", "image_search", "camera"],
			multiple: false,
			maxFiles: 1,
			clientAllowedFormats: ["jpg", "jpeg", "png", "webp"],
			// -> Playground: https://demo.cloudinary.com/uw/#/
			styles: {
				palette: {
					window: "#13151A",
					windowBorder: "#90A0B3",
					tabIcon: "#FFFFFF",
					menuIcons: "#5A616A",
					textDark: "#FFFFFF",
					textLight: "#FFFFFF",
					link: "#E879F9",
					action: "#E879F9",
					inactiveTabIcon: "#7D7D7D",
					error: "#F44235",
					inProgress: "#FFFFFF",
					complete: "#4ADE80",
					sourceBg: "#13151A",
				},
				fonts: {
					default: "sans-serif arial",
				},
			},
		}}
	>
		<div class="flex justify-center">
			<button
				class="text-yellow-400 px-4 py-2 cursor-pointer my-4 hover:text-blue-50 transition rounded-xl mx-auto w-fit min-h-16 border-yellow-400 hover:border-blue-50 border-2 uppercase pt-4"
			>
				upload your picture
			</button>
		</div>
	</CldUploadWidget>

	<figure
		hidden
		id="preview"
		class="relative flex justify-center w-fit mx-auto my-8"
	>
		<figcaption
			class="peer absolute caption bottom-0 w-full rounded-b-xl bg-purple-100 p-4 opacity-75 cursor-pointer z-10"
		>
			<a class="block text-black font-black text-xl text-center">
				create your tale
			</a>
		</figcaption>
		<img
			class="peer-hover:brightness-50 object-contain rounded-xl brightness-90 shadow-[0_0_16px_rgba(255,255,255,0.2)] transition"
			width="480"
			height="480"
		/>
	</figure>

	{
		lastStories.length > 0 && (
			<StoriesList title="Latest Stories" stories={lastStories} />
		)
	}
	{
		bestRatedStories.length > 0 && (
			<StoriesList title="Best Rated Stories" stories={bestRatedStories} />
		)
	}
</Layout>

<script>
	const widget = document.getElementById("upload-widget")

	if (widget) {
		widget.addEventListener("clduploadwidget:success", (async (
			e: CustomEventInit
		) => {
			const { url, public_id } = e.detail.info

			if (!url) return

			const $preview = document.querySelector("#preview") as HTMLImageElement
			const $image = $preview.querySelector("img")
			const $link = $preview.querySelector("a") as HTMLAnchorElement

			$image!.src = url
			$preview!.removeAttribute("hidden")
			$link.href = public_id

			const $loadingImage = document.querySelector(".image-loading")

			if ($loadingImage) {
				$loadingImage.removeAttribute("hidden")
			}
		}) as EventListener)
	}
</script>

<style>
	h3 {
		font-size: 1.5rem;
		font-weight: bold;
		margin-block: 0.5rem;
	}

	#preview[hidden] {
		display: none;
	}
</style>
