---
import { FOLDER } from "../CONSTANTS"
import Layout from "../layouts/Layout.astro"
import { CldUploadWidget } from "astro-cloudinary"
---

<Layout title="Your Halloween Story">
	<main class="max-w-[750px] mx-auto py-8">
		<h1 class="text-3xl">Your Halloween Story</h1>

		<CldUploadWidget
			uploadPreset="unsigned-image"
			id="upload-widget"
			options={{
				folder: FOLDER,
				sources: ["local", "image_search", "camera"],
				multiple: false,
				maxFiles: 1,
				clientAllowedFormats: ["jpg", "jpeg", "png", "webp"],
			}}
		>
			<button
				class="text-yellow-200 px-4 py-2 font-bold cursor-pointer my-4 hover:text-blue-50 transition rounded-full border-yellow-200 hover:border-blue-50 border-2"
			>
				upload ⬆
			</button>
		</CldUploadWidget>

		<a
			hidden
			id="new-story"
			class="text-yellow-200 px-4 py-2 font-bold cursor-pointer my-8 hover:text-blue-50 transition hover:border-blue-50"
		>
			<img
				hidden
				class="preview object-contain rounded border-2 border-blue-700"
				width="250"
				height="250"
			/>
			create story
		</a>
	</main>
</Layout>

<script>
	const widget = document.getElementById("upload-widget")

	if (widget) {
		widget.addEventListener("clduploadwidget:success", (async (
			e: CustomEventInit
		) => {
			const { url, public_id } = e.detail.info

			if (!url) return

			const $image = document.querySelector("img.preview") as HTMLImageElement
			const $link = document.querySelector("a#new-story") as HTMLAnchorElement

			$image.removeAttribute("hidden")
			$image.src = url
			$link.removeAttribute("hidden")
			$link.href = public_id

			const $loadingImage = document.querySelector(".image-loading")

			if ($loadingImage) {
				$loadingImage.removeAttribute("hidden")
			}
		}) as EventListener)
	}
</script>

<style>
	h3 {
		font-size: 1.5rem;
		font-weight: bold;
		margin-block: 0.5rem;
	}
</style>
